*{
    color: blue;
}
body{
    background-color: rgb(235, 226, 226);
}
.container{
    background-color: rgb(227, 216, 216);
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 18px;


}